<% provide :title, t("book_index") %>

<h1 class="all-book"><%= t "all" %><br>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</h1>

<% if @books.any? %>
  <div class="row">
    <%= render @books %>
  </div>
<% else %>
  <h1><%= t "no_book" %></h1>
<% end %>
